<div class="author">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>
 
<img src="/img/hrto-image.webp" alt="looking out through window "class="hero-image"width="981"height="528">
<selection class="articles">
    <h2 class="articles_heading">latest posts  </h2>
    <ul class="=artical-ul">
        <li>
            <a href="#">
                <span>post Title </span>
                <span class="artical-list_date ">date</span>

            </a>
        </li>
    </ul>
    <a href="#"class="pagination">&it;view older postss </a>
</selection>