<form action="/api/login" method="post">
  <label> Email </label>
  <input type="email" name="email" id="email" />
  <label> Password </label>
  <input type="password" name="password" id="password" />
  <button type="submit">Login</button>
</form>
<div>
  <a href="/forgot">Forgot your password?</a>
</div>
