<form action="/api/register" method="post">
    <label>
        Email
    </label>
    <input type="email" name="email" id="email">
    <label>
        Full Name
    </label>
    <input type="text" name="fullName" id="fullName">
    <label>
        Password
    </label>
    <input type="password" name="password" id="password">
    <button type="submit">Register</button>
</form>