<div class="author">
    <h1 class="author_heading ">search Result</h1>
<section class="articles">
    <ul class="article-ul">
        <% data.forEach(post => {
          <il>
            <a href="/post/._id %>">
<span><%=<post.title %> </span>

    <span class="article-article-list_date"><%=<post.createdAt.toLocaleString() %>
        </span>
     </a>
     </il>  
       <% }) %>
        
    </ul>
</section>
</div>