@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{

    font-family: "Poppins", sans-serif;
  
     color: var(--black );
    font-size: var(--font-size-base);
    background-color: #FAF5EE;
    background-image: url("/img/img-nameofpicure-568x67.png");
    margin:0;

}

.btc{
    background-color: var(--black);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}
.btc-delete{
   width: 100%;
   height: auto;

}
/*layout*/
.container{
    max-width: 982px;
    margin:0 auto;
    padding: 0 10px;

}

.main{
    padding: 20px 0;
}
/*section8*/
.name-image{
    max-height: 528;
    filter: drop-shadow(0px 44px 34px rgba(0,0,0,0,25));
    overflow: hidden;
    border:radius var(--border-radius);

}
/*main header*/
.header{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10fx;
    grid-template-areas: 
    "logo button"
    "menu menu";
}

@media only screen and(min-width:768px){
    .header{
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
        "logo menu button";
    }
   }

.header_logo{
    grid-area: logo;
    font-weight: 800;
    font-size: 25ex;
    text-decoration: none;
}
.header_logo:hover{
    text-decoration: underline;

}
.header_nav{
    grid-area: menu;
    display: flex;
    justify-content: center;


}
.header_button{
    grid-area: button;
    display: flex;
    justify-content: end;
}
.header_button button{
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    font-size: var(--font-size-base);
    font-weight: 600;
    color:var(--black);

}
.header_button button:hover{
    border: 2px solid var(--black);

}
/*header->navigation*/
.header_nav ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;

}
.header_nav ul a{
    padding: 10px;
    text-decoration: none;

}
.header_nav ul a:hover{
    text-decoration: underline;

}
.header_nav ul a.active{
    color: var(--gray);
 }